<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
  </head>
  <body>
    <h2>User Signup</h2>

    <% if (locals.error) { %>
      <p class="error-message"><%= error %></p>
    <% } %>

    <form method="post" action="/user/signup">
      <label for="fullName">Full Name</label>
      <input
        type="text"
        name="name"
        id="fullName"
        placeholder="enter your name"
        value="<%= locals.name || '' %>"
      />
      <% if (locals.errors && locals.errors.name) { %>
        <p class="error-message"><%- errors.name._errors[0] %></p>
      <% } %>

      <label for="email">E-mail</label>
      <input 
        type="text" 
        name="email" 
        id="email" 
        value="<%= locals.email || '' %>"
      />
      <% if (locals.errors && locals.errors.email) { %>
        <p class="error-message"><%- errors.email %></p>
      <% } %>

      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <% if (locals.errors && locals.errors.password) { %>
        <p class="error-message"><%- errors.password %></p>
      <% } %>

      <button type="submit">Signup</button>
    </form>
  </body>
</html>